@font-face {
    font-family: "Helvetica-condensed";
    src: url("HelveticaNeueLTStd-BdCn.otf");
}
@font-face {
    font-family: "Helvetica-extended";
    src: url("HelveticaNeueLTStd-BdEx.otf");
}
.input-agenda-item{
  position: absolute;
  bottom: 0px;
  width:calc(100% - 210pt);
  height:30pt;
  border-radius: 2pt;
  margin-bottom: 5pt;
  margin-left: 10pt;
  outline: none;
  border: 1.5pt solid #bbaaff;
  font-size: 20pt;
  font-family: helvetica;
}
.button{
  position: absolute;
  left:calc(100% - 180pt);;
  bottom: 0px;
  margin-bottom: 5pt;
  height:35pt;
  width:110pt;
  background-color: #000000;
  border-radius: 2pt;
  outline: none;
  font-family: helvetica;
  color:#ffffff;
  text-align: center;
  font-size: 30pt;
}
.widget-input{
  position: fixed;
  bottom:0pt;
  width:100%;
}
.container-list-item{
  font-family: helvetica;
  font-weight: bold;
  font-size:15pt;
  border-bottom: 2pt solid black;
  width:calc(100% - 185pt);
}
.container-scrollbox{
  width:100%;
  height: 90%;
  overflow-y: scroll;

}
.button-check{
  position: relative;
  float: left;
  height: 20pt;
  width:20pt;
  border: 2pt solid black;
  border-radius: 4pt;
  margin-right: 10pt;
}
.checked{
  background-color:#000000;
}
.widget-x{
  position: relative;
  height: 15pt;
  width:15pt;
  background-image: url("x-widget-02.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  margin-top:-32pt;
  float: right;
}
.text-checked{
  text-decoration: line-through;
}

.container-calendar{
  position: fixed;
  right:30pt;
  top:-30pt;
  font-family: Helvetica-condensed;
  font-weight: bold;

}
#year{
  font-size: 50pt;
}
.date{
  margin-top: -4em;
  font-family: Helvetica-extended;
  font-size: 23pt;
  text-align: center;
  margin-left: -29pt;
}
.arrow{
  height: 20pt;
  width:8pt;
  background-image: url("arrow.png");
  background-size: 100% 100%;
  background-position: 100% 100%;
  position: relative;
  float: left;
  margin-top: -50pt;
}

#arrowl{
  -webkit-transform:rotate(180deg);
  margin-left: -25pt;
}
#arrowr{
  margin-left: 111pt;
}
